@tailwind base;
@tailwind components;
@tailwind utilities;

/* background-color:  */
:root {
  --add-todo-btn: #38cb89;
  --save-btn: #38cb89;
  --log-out-btn: #e6e6e6;
  --delete-btn: #e5e5e5;
  --todo: #ffffff;
}
/* color:  */
:root {
  --white: #fff;
  --black: #000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Neue Haas Grotesk Display Pro';
}
