@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Neue Haas Grotesk Display Pro';
}
@layer components {
  .popup-btn {
    @apply flex justify-center items-center cursor-pointer rounded-2xl h-8 w-16 border-0 outline-0  
    xsm:h-11 xsm:w-28;
  }
  .btn-text {
    @apply flex justify-center items-center w-12 h-5 font-medium text-xs 
    xsm:w-12 xsm:h-6 xsm:font-semibold xsm:text-base;
  }
  .priority-option {
    @apply xsm:rounded-2xl xsm:flex xsm:items-center xsm:justify-center xsm:text-white;
  }
  .todo-title {
    @apply flex !items-center w-11/12 border-0 outline-none font-medium text-lg 
    xsm:w-10/12 xsm:font-semibold xsm:text-3xl xsm:max-w-19
    md:xsm:w-11/12  md:max-w-27 md:text-42;
  }
  .todo-text {
    @apply w-full mt-4 text-gray-500 font-normal text-sm 
    xsm:w-11/12 xsm:font-semibold xsm:text-xl xsm:mt-7
    md:text-3xl md:mt-10;
  }
  .priority-mobile {
    @apply rounded-full gap-2 flex items-center cursor-pointer 
    xsm:bg-transparent;
  }
  .priority-option-mobile {
    @apply xsm:text-lg xsm:h-8 xsm:w-full;
  }
  .priority-selection {
    @apply border border-black 
    xsm:border-none;
  }
  .priority-text {
    @apply hidden 
    xsm:block xsm:text-lg xsm:text-black xsm:w-full xsm:cursor-pointer;
  }
  .sorting-btn {
    @apply h-7 py-1 px-3 border rounded-lg outline-none flex items-center justify-center text-xs 
    md:text-sm md:h-8 md:px-4 md:py-2;
  }
  .admin-button {
    @apply px-4 py-2  text-white font-semibold rounded-md;
  }
  .refresh {
    @apply bg-blue-500 admin-button;
  }
  .delete {
    @apply bg-red-500 admin-button;
  }
}

@layer utilities {
  .max-w-288 {
    max-width: 288px;
  }
  .max-w-500 {
    max-width: 500px;
  }
  .max-w-610 {
    max-width: 610px;
  }
  .max-w-27 {
    max-width: 27rem;
  }
  .max-w-19 {
    max-width: 19rem;
  }
  .w-h-10 {
    width: 10px;
    height: 10px;
  }
  .gap-38 {
    gap: 38px;
  }
  .min-h-82 {
    min-height: 82px;
  }
  .min-h-140 {
    min-height: 140px;
  }
  .text-42 {
    font-size: 42px;
    line-height: 50px;
  }
  .border-6 {
    border: 6px solid;
  }
}
